# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea/*
*/cmake-build-debug/*
c_rem/*/cmake-build-debug/*
c_rem/cp/cmake-build-debug/*
c_rem/pointers/cmake-build-debug/*
c_rem/phase_1/cmake-build-debug/*
geeksforgeeks/course/cmake-build-debug/*
debugger/cmake-build-debug
debugger/cmake-build-debug-remote
c_rem/pointers/cmake-build-remote/CMakeFiles/3.10.2/CompilerIdC/tmp/
c_rem/pointers/cmake-build-remote/CMakeFiles/3.10.2/CompilerIdCXX/tmp/
c_rem/pointers/cmake-build-remote/CMakeFiles/CMakeTmp/
